:root{
    --primary-color: rgb(33, 16, 218);
    --secondary-color: green;
    --primary-color-text: white;
    --secondary-color-text: black;
}

h1{
    color: var(--secondary-color-text);
}
.row{
    display: flex;
    flex-direction: row;
    text-align: center;
    color: var(--primary-color-text);
    width: 100%;
}
.margin{
    margin: 5px;
}
[class*= "col-"]{
    background-color: var(--primary-color);
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/***********
SM
***********/
@media screen and ( min-width: 576px ) {
    
}



/********
MD
*********/
@media  screen and ( min-width: 768px ) {
    
}

/*********
LG
*********/
 @media screen and ( min-width: 992px ) {
   
    .Container, header{
        max-width: 1100px;
        margin: 1rem auto;
    }
}  
 